<center><h1 ng-if="mostrarMensajeNoTareas()">No tienes ninguna tarea</h1></center>
<md-list ng-cloak>
    <md-list-item ng-repeat="tarea in tareas">
        <p> {{ tarea.titulo }} </p>
        <md-checkbox class="md-secondary" ng-model="tarea.completada" ng-change="actualizarTarea(tarea._id, tarea.completada)"></md-checkbox>
    </md-list-item>
</md-list>


<md-button class="md-fab md-primary" aria-label="Añadir tarea" ng-click="mostrarDialogTarea($event)" style="position: fixed; right: 50px; bottom: 50px;">
    <md-icon md-svg-src="img/icons/plus.svg"></md-icon>
</md-button>